{
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "func-names": "off",
    "no-plusplus": "off"
  }
}
